@charset "UTF-8";
/* CSS Document */

html {
	min-width: 768px;
} 

body { 
	font-size: 100%;
	font-family: Baskerville, Times New Roman, serif;
	line-height: 1.5rem; 
} 

.wrapper {} 

img { 
	width: 100%; 
}

.baseline { 
	background-image: url(../images/baseline.svg); 
} 

 strong {
	 	font-weight: bold; 
 }
 
em {
	font-style: italic;
}  

/* ----------------------------------------------------------------Masthead */ 

.masthead { 
	height: 6rem; 
	background-color: #936; 
	margin-bottom: 1.5rem; 
} 

h1 {
	font-size: 1.5rem; 
	color: #FFF; 
	position:absolute; 
	margin: 2.25rem 0 0 4%; 
}

/* ----------------------------------------------------------------Article */  

article {
	padding: 0 0 1.5rem;
}

.headline {
	height: 4.5rem;
	margin-bottom: 1.5rem;
	background-color: #96C;
}

h2 {
	font-family: "Arial Black", Gadget, sans-serif; 
	font-size: 2.25rem;
	position: absolute; 
	margin: 1.75rem 3% 0;
} 

.image { 
	width: 20%; 
	float: absolute;
	margin: .5% .5% 1.5rem  0; 
} 

p {
	margin-bottom: 1.5rem; 
	line-height: 1.5rem;
} 

.footnote {
	height:4.5rem; 
	background-color: #96C;
} 

.footnote p { 
	font-size: .875rem; 
	position: left; 
	margin: 1.5rem 2% 0; 
} 

/* ----------------------------------------------------------------Bottom */  

.bottom { 
	height:8rem; 
	background-color: #936; 
} 

.bottom p { 
	font-size:.9rem;
	color:#FFF; 
	position: absolute; 
	margin: 1.5rem 3% 0; 
}


